*{
    font-family: arial;
}
#bg-image{
    background-image: url(background.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0px 0px 0px 0px;
    filter: blur(10px);
}
.container{
    width: 400px;
    height: 400px;
    background-color: transparent;
    margin: auto;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 40%;
}
h1 , p{
    text-align: center;
    
}
label{
   font-size: larger; 
}
span{
    font-size: larger;
    margin-left: 10px;
}
input{
    padding: 10px;
    border-radius:10px ;
    box-shadow: 0px 0px 3px 0px;
    margin: 10px;
    width: 90%; 
    border-style: none; 
    background-color: transparent;
}
button{
    
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-style: none;
    border-radius: 20px;
    font-size: larger;
    color: aliceblue;
    border:1px solid rgb(40, 5, 237);
}
button:hover{
    background-color: white;
    border:1px solid red;
    color: blue;
    
}